<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>智能AR系统</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="__CDN__/assets/frontend/css/amazeui.css">
    <link rel="stylesheet" href="__CDN__/assets/frontend/css/app.css">
    <style type="text/css">.content img{width: 100% !important;max-width: none !important;} article{width: 100% !important;} iframe{width: 100%;}</style>
</head>

<body class="am-bg-white">
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
        <a href="javascript:void(0);" onclick="javascript:history.back(-1);return false;"><img src="__CDN__/assets/frontend/img/icon-back-act.png"></a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link">文章详情</a>
    </h1>
</header>
<!-- Content -->
<div class="wapper">
    <div class="am-padding-sm">
        <h2 class="am-margin-bottom-xs" style="font-weight: normal;">{$article->title}</h2>
        <p class="am-margin-bottom-sm am-margin-top-sm" style="color:#999;">{$article->create_time|date='Y-m-d H:i:s',###}</p>
        <div class="content">{$article->content}</div>
    </div>
</div>
<script src="__CDN__/assets/frontend/js/jquery.min.js"></script>
<script src="__CDN__/assets/frontend/js/amazeui.min.js"></script>
</body>
</html>