<!doctype html>

<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>智能AR系统</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="__CDN__/assets/frontend/css/amazeui.css">
    <link rel="stylesheet" href="__CDN__/assets/frontend/css/app.css">
</head>
<body>
<!-- Content -->
<div data-html="study">
    <div data-am-widget="tabs" class="am-tabs am-tabs-default am-margin-0">
        <ul class="am-tabs-nav am-cf border-b">
            <li     {if condition='1 == $type'} class="am-active"{/if} >
                <a href="[data-tab-panel-0]">视频</a>
            </li>
            <li {if condition='2 == $type'} class="am-active"{/if}>
                <a href="[data-tab-panel-1]">音频</a>
            </li>
            <li {if condition='3 == $type'} class="am-active"{/if}>
                <a href="[data-tab-panel-2]">文章</a>
            </li>
            <li {if condition='4 == $type'} class="am-active"{/if}>
                <a href="[data-tab-panel-3]">历史</a>
            </li>
        </ul>
        <div class="am-tabs-bd">
            {volist name="materialCategories" id="materialCategory"  }
            <div data-tab-panel-{$i - 1} class="am-tab-panel {if condition='$i == $type'}am-active{/if}">
                <ul class="am-list am-list-static am-list-border">
                    {foreach $materialCategory as $category}
                    <li class="am-g" onclick="window.location.href='/index/learn/{$key}?category={$category.id}'">
                        <div class="am-u-sm-6 am-ellipsis am-padding-left-0">{$category.name}</div>
                        <span class="am-u-sm-6 am-padding-0 am-text-right"><i class="am-icon am-icon-angle-right am-padding-left-sm am-link-muted"></i></span>
                    </li>
                    {/foreach}
                </ul>
            </div>
            {/volist}
            <div data-tab-panel-3 class="am-tab-panel {if condition='4 == $type'}am-active{/if}">
                <ul class="am-list am-list-static am-list-border">
                {if $histories}
                {foreach $histories as $history}
                        <li class="am-g" onclick="window.location.href='/index/learn/{$history.type}?id={$history.lmid}'">
                            <div class="am-u-sm-6 am-ellipsis am-padding-left-0">{$history.title}</div>
                            <span class="am-u-sm-6 am-padding-0 am-text-right">{$history.learn_time|date='Y-m-d H:i:s',###}<i class="am-icon am-icon-angle-right am-padding-left-sm am-link-muted"></i></span>
                        </li>
                {/foreach}
                {else}
                <li class="am-text-center">未查到数据!!!</li>
                {/if}
                </ul>
            </div>
            <div class="am-alert tips-text am-text-center">我也是有底线的</div>
        </div>
    </div>
</div>
<!-- Footer-Menu -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id="footer-nav">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="/index">
                <img src="__CDN__/assets/frontend/img/home.png" />
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li class="am-active">
            <a href="javascript:void(0);">
                <img src="__CDN__/assets/frontend/img/study_a.png" />
                <span class="am-navbar-label">学习</span>
            </a>
        </li>
        <li>
            <a href="/index/examination">
                <img src="__CDN__/assets/frontend/img/test.png" />
                <span class="am-navbar-label">考试</span>
            </a>
        </li>
        <li>
            <a href="/index/notice">
                <img src="__CDN__/assets/frontend/img/message.png" />
                <span class="am-navbar-label">信息</span>
            </a>
        </li>
        <li>
            <a href="/index/user">
                <img src="__CDN__/assets/frontend/img/user.png" />
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<script src="__CDN__/assets/frontend/js/jquery.min.js"></script>
<script src="__CDN__/assets/frontend/js/amazeui.min.js"></script>
<script>
    //音频
    var a = 0;
    $(".audio_play_area").click(function() {
        a++;
        if (a % 2 != 0) {
            $(".icon_audiodefault").css({
                "display": "none"
            });
            $(".icon_audioplaying").css({
                "display": "block"
            });
            console.log(a);
        }
        if (a % 2 == 0) {
            console.log(a);
            $(".icon_audiodefault").css({
                "display": "block"
            });
            $(".icon_audioplaying").css({
                "display": "none"
            });
        }
    })
    //分页
    var p = 1, page;  //p当前页,page后台传递总页数
    //滚动分页
    window.onscroll = function(){
        var top = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.body.scrollHeight || document.documentElement.scrollHeight;
        if((top + window.innerHeight) >= height-49){
            p = p + 1;
            if(p > page){
                p = page;
                $('.tips-text').show();
                return;
            }
            //从后台获取列表数据
        }
    }
    if(window.top !== window.self){
        console.log('1111');
    }
</script>
</body>
</html>
