<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>智能AR系统</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="__CDN__/assets/frontend/css/amazeui.css">
    <link rel="stylesheet" href="__CDN__/assets/frontend/plugins/swiper/swiper.css" />
    <link rel="stylesheet" href="__CDN__/assets/frontend/css/app.css">
    <style type="text/css">.content img{width: 100%;} iframe{display: none;}</style>
</head>

<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
    <h1 class="am-header-title">
        <a href="#title-link">首页</a>
    </h1>
</header>
<!-- Content -->
<div class="wapper" data-html="index">
    <!-- slider -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {foreach $ads as $ad}
            <div class="swiper-slide"><img src="{$ad.image}"></div>
            {/foreach}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- 公告 -->
    <div class="am-bg-white am-padding-top-xs am-padding-bottom-xs am-padding-left-sm am-padding-right-sm am-margin-bottom-xs">
        <img class="am-icon-message" src="__CDN__/assets/frontend/img/laba.png" width="100%">
        <div class="txtMarquee-left ub ub-f1" style="overflow:hidden;">
            <div class="bd">
                <ul class="">
                    {foreach $systemNotices as $id=>$title}
                    <li><a href="/index/notice/detail?id={$id}&type=0">{$title}</a></li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
    {foreach $newses.data as $news}
        {if condition="$news.show_image"}
            <div class="am-bg-white">
                <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                    <div class="am-list-news-bd">
                        <ul class="am-list am-margin-bottom-0">
                            <li onclick="window.location.href='/index/index/detail?id={$news.id}'" class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
                                <div class="am-u-sm-8 am-list-main">
                                    <div class="am-list-item-text am-margin-top-0 am-text-black">{$news.title}</div>
                                </div>
                                <div class="am-u-sm-4 am-list-thumb">
                                    <a href="#"><img src="{$news.show_image}"/></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {else /}
            <div class="am-bg-white  am-padding-left-xs am-padding-right-xs">
                <ul class="am-list am-margin-bottom-0">
                    <li>
                        <a href="/index/index/detail?id={$news.id}" class="am-text-truncate">{$news.title}</a>
                    </li>
                </ul>
            </div>
        {/if}
    {/foreach}
</div>
<div class="am-alert tips-text am-text-center">我也是有底线的</div>
<!-- Footer-Menu -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id="footer-nav">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="/index">
                <img src="__CDN__/assets/frontend/img/home_a.png" />
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="/index/learn">
                <img src="__CDN__/assets/frontend/img/study.png" />
                <span class="am-navbar-label">学习</span>
            </a>
        </li>
        <li>
            <a href="/index/examination">
                <img src="__CDN__/assets/frontend/img/test.png" />
                <span class="am-navbar-label">考试</span>
            </a>
        </li>
        <li>
            <a href="/index/notice">
                <img src="__CDN__/assets/frontend/img/message.png" />
                <span class="am-navbar-label">信息</span>
            </a>
        </li>
        <li>
            <a href="/index/user">
                <img src="__CDN__/assets/frontend/img/user.png" />
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<script src="__CDN__/assets/frontend/js/jquery.min.js"></script>
<script src="__CDN__/assets/frontend/plugins/layer/layer.js"></script>
<script src="__CDN__/assets/frontend/js/amazeui.min.js"></script>
<script src="__CDN__/assets/frontend/plugins/swiper/swiper.js"></script>
<script src="__CDN__/assets/frontend/js/jquery.SuperSlide.2.1.1.js"></script>
<script>
    var needExamination = '{$needExamination}' * 1;
    function layerTest(){
        layer.msg('你有考试需要参加', {
            time: 0 //不自动关闭
            ,btn: ['去考试', '稍后处理']
            ,yes: function(index){
                layer.close(index);
                window.location.href='/index/examination'
            }
        });
    }
    if(needExamination){
        layerTest();
    }
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000
    })
    jQuery(".txtMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:2,interTime:30});
    //分页
    var p = 1, page = '{$newses.last_page}';  //p当前页,page后台传递总页数
    //滚动分页
    window.onscroll = function () {
        var top = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.body.scrollHeight || document.documentElement.scrollHeight;
        if ((top + window.innerHeight) >= height - 49) {
            p = p + 1;
            if (p > page) {
                p = page;
                $('.tips-text').show();
                return;
            }
            //从后台获取列表数据
            $.ajax({
                //请求方式
                type: 'GET',
                //发送请求的地址
                url: window.location.href,
                //服务器返回的数据类型
                dataType: 'json',
                //发送到服务器的数据，对象必须为key/value的格式，jquery会自动转换为字符串格式
                data: {page: p},
                success: function (data) {
                    if (data.code == 1) {
                        if (data.data) {
                            var appendHtml = '';
                            for (var i in data.data) {
                                var news = data.data[i];
                                if(news.show_image){
                                    appendHtml += '<div class="am-bg-white">\n' +
                                        '                <div data-am-widget="list_news" class="am-list-news am-list-news-default">\n' +
                                        '                    <div class="am-list-news-bd">\n' +
                                        '                        <ul class="am-list am-margin-bottom-0">\n' +
                                        '                            <li onclick="window.location.href=\'/index/index/detail?id=' + news.id + '\'" class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">\n' +
                                        '                                <div class="am-u-sm-8 am-list-main">\n' +
                                        '                                    <div class="am-list-item-text am-margin-top-0 am-text-black">' + news.title + '</div>\n' +
                                        '                                </div>\n' +
                                        '                                <div class="am-u-sm-4 am-list-thumb">\n' +
                                        '                                    <a href="#"><img src="' + news.show_image + '"/></a>\n' +
                                        '                                </div>\n' +
                                        '                            </li>\n' +
                                        '                        </ul>\n' +
                                        '                    </div>\n' +
                                        '                </div>\n' +
                                        '            </div>';
                                }else{
                                    appendHtml += '<div class="am-bg-white am-padding-bottom-0 am-padding-left-xs am-padding-right-xs">\n' +
                                        '                <ul class="am-list am-margin-bottom-0">\n' +
                                        '                    <li>\n' +
                                        '                        <a href="/index/index/detail?id=' + news.id + '" class="am-text-truncate">' + news.title + '</a>\n' +
                                        '                    </li>\n' +
                                        '                </ul>\n' +
                                        '            </div>';
                                }
                            }
                            $('.wapper').append(appendHtml);
                        }
                    } else {
                        layer.msg('加载失败');
                    }
                },
                error: function (jqXHR) {
                    //请求失败函数内容
                    layer.msg('加载失败');
                }
            });
        }
    }
</script>
</body>
</html>