<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>智能AR系统</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="__CDN__/assets/frontend/css/amazeui.css">
    <link rel="stylesheet" href="__CDN__/assets/frontend/css/app.css">
</head>

<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
        <a href="javascript:void(0);" onclick="javascript:history.back(-1);return false;">
            <img class="am-header-icon-custom" src="__CDN__/assets/frontend/img/icon-back-act.png">
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link">社群报备</a>
    </h1>
    <div class="am-header-right am-header-nav">
        <a href="/index/association/add" class="">
            <span class="am-header-nav-title">报备</span>
        </a>
    </div>
</header>
<!-- Content -->
<div class="wapper">
    <div>
        <ul class="am-list am-list-static am-list-border">
            {if $associations.data}
            {foreach $associations.data as $association}
            <li class="am-g" onclick="window.location.href='/index/association/detail?id={$association.id}'">
                <div class="am-u-sm-6 am-ellipsis am-padding-left-0">{$association.name}</div>
                <span class="am-u-sm-6 am-padding-0 am-text-right">
							<em class="am-{$association.status == 1 ? 'text-warning' : 'link-muted'}">{$association.status == 1 ? '报备中' : '完成'}</em>
							<i class="am-icon am-icon-angle-right am-padding-left-sm am-link-muted"></i>
						</span>
            </li>
            {/foreach}
            {else}
            <li class="am-text-center">未查到数据!!!</li>
            {/if}
        </ul>
        <div class="am-alert tips-text am-text-center">我也是有底线的</div>
    </div>
</div>
<script src="__CDN__/assets/frontend/js/jquery.min.js"></script>
<script src="__CDN__/assets/frontend/js/amazeui.min.js"></script>
<script>
    //分页
    var p = 1, page = '{$associations.last_page}';  //p当前页,page后台传递总页数
    //滚动分页
    window.onscroll = function () {
        var top = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.body.scrollHeight || document.documentElement.scrollHeight;
        if ((top + window.innerHeight) >= height - 49) {
            p = p + 1;
            if (p > page) {
                p = page;
                $('.tips-text').show();
                return;
            }
            //从后台获取列表数据
            $.ajax({
                //请求方式
                type: 'GET',
                //发送请求的地址
                url: window.location.href,
                //服务器返回的数据类型
                dataType: 'json',
                //发送到服务器的数据，对象必须为key/value的格式，jquery会自动转换为字符串格式
                data: {page: p},
                success: function (data) {
                    if (data.code == 1) {
                        if (data.data) {
                            var appendHtml = '';
                            for (var i in data.data) {
                                var association = data.data[i];
                                appendHtml += '<li class="am-g" onclick="window.location.href=\'/index/association/detail?id=' + association.id +'\'">\n' +
                                    '                <div class="am-u-sm-6 am-ellipsis am-padding-left-0">' + association.name + '</div>\n' +
                                    '                <span class="am-u-sm-6 am-padding-0 am-text-right">\n' +
                                    '\t\t\t\t\t\t\t<em class="am-' + (association.status == 1 ? 'text-warning' : 'link-muted') + '">' + (association.status == 1 ? '报备中' : '完成') + '</em>\n' +
                                    '\t\t\t\t\t\t\t<i class="am-icon am-icon-angle-right am-padding-left-sm am-link-muted"></i>\n' +
                                    '\t\t\t\t\t\t</span>\n' +
                                    '            </li>';
                            }
                            $('.am-list').append(appendHtml);
                        }
                    } else {
                        layer.msg('加载失败');
                    }
                },
                error: function (jqXHR) {
                    //请求失败函数内容
                    layer.msg('加载失败');
                }
            });
        }
    }
</script>
</body>
</html>